.up{
    display: flex;
}

.left{
    height: 1000px;
    width: 20%;
    background-color:#3b82f6;
}
.right{
    background-color:#e2e8f0;
    color:black;
    
    width:80% ;
}
.search1{
    background-color:white;
    height: 30px;
    width: 30px;
    margin-top: 15px;
    margin-left: 20px;

}
.search1{
    cursor: pointer;
}
.nav{
    background-color: white;
    height: 15%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
}
.input{
    margin-top: 18px;
    margin-left: 19px;
    height: 23px;
    width: 400px;
    background-color: rgb(225, 228, 230);
    border-radius: 15px;
}


.nolti{
    height: 40px;
    background-color: red;
    width: 40px;
    margin-top: 10px;
    margin-left: 190px;
}
.nolti:hover{
    background-color: green;
    cursor: pointer;
}
.profile{
    height: 50px;
    width: 60px;
    margin-top: 10px;
    margin-left: 55px;
    border-radius: 69px;
}
.profile:hover{
    cursor: pointer;
}
.name1{
    height: 40px;
    width: 360px;
    margin-top: 19px;
    margin-left: 8px;
   

    
}
.profile1{
    height: 50px;
    width: 60px;
    margin-top: 10px;
    border-radius: 69px;
    margin-left: 30px;

}
.profile1:hover{
    cursor: pointer;
}


.arrange{
    display: flex;
    flex-direction: column;
}
.name2{
    height: 40px;
    margin-top: -19px;
    margin-left: 6px;
    
}
.tag{
    margin-top: 41px;
    margin-left: 4px;
}
.uplast{
    display: flex;
    justify-content: space-between;
    margin-left: 310px;
 
}
.new{
    height: 40px;
    width: 70px;
    color: white;
    background-color:#3b82f6;
    margin: 10px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  
}
.new:hover{
    background-color: green;
    color:white;
    cursor: pointer;
}

   

.last-part{
    margin-top: 50px;
    display: flex;
    width: 60%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction:row;
    margin-left: -120px;
  
}

.written{
    height: 190px;
    width: 320px;
    background-color:white;
    margin-left: -0px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    border-left: solid 5px orange;
    margin: 10px;
}



.written1{
    margin-top: 0px;
    margin-left: 20px;
   

}
.your-pro{
    margin-left: 30px;
    display:block;
    margin-top: 28px;
    margin-bottom: 0px;
}
.lastpart-left{
    display: flex;
    flex-direction: column;
}
.lastly4{
    display: flex;
}
.annoucements{
    margin-left: 50px;
    margin-top: 10px;
}
.site1{
    background-color:white;
    height: 250px;
    width: 270px;
    margin-top: -30px;
    margin-left: 30px;
    
}
.site2{
    margin-left: 19px;
}
.site3{
    margin-top: 5px;
}
.site4{
    margin-bottom: 0px;
}
.trending{
    background-color: white;
    height: 300px;
    width: 300px;
    display: flex;
    margin-top: 20px;
    margin-left: 29px;
}
.cartoon{
    height: 50px;
    width: 40px;
    border-radius: 80px;
    margin-top: 47px;
    margin-left: -70px;
}
.cartoon:hover{
    background-color: blue;
    cursor: pointer;
}
.cartoon1{
    margin-top:  -45px; 
    margin-left: -20px;
}
.cartoon2{
    margin-top:  -20px; 
    margin-left: -20px;

}
.cartoon3{
    height: 50px;
    width: 40px;
    border-radius: 80px;
    margin-top: 0px;
    margin-left: -70px;
}

.cartoon3:hover{
    cursor: pointer;
    background-color: blue;
}
.cartoon4{
    margin-top: -50px; 
    margin-left: -20px;

}
.cartoon5{
    margin-top:  -20px; 
    margin-left: -20px;

}
.left1{
    display: flex;
    height: 149px;
 
}
.left2{
    height: 70px;
    width: 70px;
    margin-left: 10px;
    margin-top: 20px;
}
.left2:hover{
    cursor: pointer;
}
.left3{
    margin-left: 15px;
    margin-top: 43px;
    color: white;
}
.left-middle{
    height: 330px;


}
.left-middle1{
    display: flex;

}
.left-middle2{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 8px;

}
.left-middle2:hover{
    cursor: pointer;
}
.left-middle3{
    margin-left: 10px;
    margin-top: 6px;
    color: white;

}
.last-left{
    height: 300px;
    

}
.last-left1{
    display: flex;

}
.last-left2{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 8px;

}
.last-left2:hover{
    cursor: pointer;
}
.last-left3{
    margin-left: 10px;
    margin-top: 6px;
    color: white;
}
.lastly5{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin: 4px;
   
}
.lastly5:hover{
    cursor: pointer;
}
.lastly6{
    display: flex;
    margin-top: 59px;
    margin-left: 192px;
}
.footer{
    position:;
    margin-bottom: 4px;
    color: white;
    background-color: black;
    font-size: larger;
    margin-top: 650px;
    margin-left: 500px;
    padding: 30px;
}